
/*ESTILO-BODY Y HEADER*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-image: url(imagenes/Queso_Fondo2.jpg );
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

.header{
    background:rgb(0, 0, 0);
    height: 128px;
}

.footer  {
    text-align: center;
    background:rgb(2, 23, 5);
    color: rgba(255, 255, 255, 0.836);
    padding: 1%;
}

/*-----LOGO-----*/

.header .logo img{
    position: absolute;
    padding: 0px 0px 0px 50px;
}

/*--------ESTILO-MENU------*/
ul, ol {
    list-style:none;
}
.nav > li {
    float:right;
}
.nav li a {
    background-color:rgb(0, 0, 0);
    color:#fff;
    text-decoration:none;
    padding:55px 50px;
    display:block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav li a:hover{
    background-color: rgba(143, 144, 98, 0.612);
}

/*-------MAPA-------*/
.container1 .mapa {
    margin: 0px 0px 30px 0px;
    text-align: center;
}
/*-----CONTENIDO------*/
.content{
    background:rgb(84, 68, 65);
    border: 2px solid #158000;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    color: seashell;
    font-size: 15px;    
    width:570px; 
    padding-left: 20px;
    padding-right: 20px; 
    margin-right: auto;
    margin-left: auto;    
}
.container1 h1{
    font-weight: bolder;
    font-size: xx-large;    
    margin-bottom: 25px;;   
}

.container1 p{
    text-align: center;
    margin-bottom: 10px;;   
}

.container1 .texto_contenido {
    font-family: 'Balsamiq Sans', cursive;
    background:rgba(115, 113, 98, 0.905);
    margin: 120px 150px 15px 150px ;
    padding: 10px 10px 10px 10px;
    border-style:solid;
    border-radius: 20px;
    text-align: center;
}
.container1 .texto_contenido h1,p {
    color: rgb(255, 255, 255);

}

/*-----FORMULARIO------*/
.content h1{
    color: #fff;
}

.container1 button {
    font-family:'Baloo Tamma 2', sans-serif;
    background: -webkit-linear-gradient(to right, #5f6d64, #19251b);
    background: linear-gradient(to right, #9f5745, #934a20);
    margin: 25px auto;
    align-items: center ;
    color: #fff;
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    cursor: pointer;
}
input{   
    color: #4e4646;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    width: 90%;
    border: 20;
}
input:focus{ 
    color: #000000;
    text-align: center;
}
label{
    font-family:'Baloo Tamma 2', sans-serif;
}
.barra{
    position: relative;
    display: block;
    width: 90%;
    left: 25px;
}
.barra::before{
    content: "";
    height:5px;
    width: 0%;
    bottom: 0%;
    position: absolute;
    background: linear-gradient(to right, #87d8a5, #113e16);
    transition: 0.5s ease width;
    left: 0;
    bottom: 5px;
}
.content input:focus~.barra::before{
    width: 100%;
}


/*------IMAGENES------*/
.queso_img img{
    width: 100%;
    height: 110px; 
    position: absolute;
}
.container1 .img1{      
    margin-bottom: 50px;
    margin-top: 50px;
}
.container1 .img2 img{     
    width:100%; 
    border-top: 0px; 
}

/*----OFERTAS-----*/
/*.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #B06AB3;
    padding-top: 20px;
}*/

.suscribete {
    background-image: 'suscribete.JPG';
}
.suscribete button {
    font-family:'Baloo Tamma 2', sans-serif;
    background: -webkit-linear-gradient(to right, #f86262, #f86262);
    background: linear-gradient(to right, #f86262, #f86262);
    margin: 25px auto;
    align-items: center ;
    color: #fff;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    cursor: pointer;
}
.suscribete {
    background-image: url(imagenes/suscribete.JPG);
    font-size: 15px;    
    width:100%; 
    padding-top: 330px;
    border-top: 0px;
}

/*Required*/
[required]{
	box-shadow: 0 0 10px 1px red;
}

